<!DOCTYPE html>
<html ng-app="collegeTeams">
<head>
    <title>College Football</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- <header>
      <div>
          <img src="/assets/img/logo.png" alt="logo">
      </div>
  </header> -->

  <main>
    <header>
      <nav class="navbar">
        <div class="navbar-header">
          <span>College Football Teams</span>
        </div>
      </nav>
    </header> 

    <div class="content" ng-controller="CollegeTeamCtrl">      
      <section>
        <div class="container"> 
          <form>
            <input type="text" placeholder="Enter Team" ng-model="newTeam.name" value="" required>
            <input type="text" placeholder="Enter Mascot" ng-model="newTeam.mascot" value="" required>
            <button type="submit" data-ng-click="addTeam(newTeam)"><span>Add A College Team</span></button>
          </form>
        </div>
      </section>
 
      <section>
        <div class="container"> 
          <table>
            <tr>
              <th>Name</th>
              <th>Mascot</th>
            </tr>
            <tr ng-repeat="team in list.teams">
              <!--<td><input class="form-control" ng-model="contact.name"></td> -->
              <td><input class="form-control" ng-model="team.name"></td>
              <td><input class="form-control" ng-model="team.mascot"></td>
              <td><button type="submit" data-ng-click="updateTeam(team)">Update</button></td>
              <td><button type="submit" data-ng-click="deleteTeam(team._id)">Delete</button></td>
            </tr>
          </table>
        </div>
      </section>

    </div>

  </main>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <script type="text/javascript" src="/controllers/teams.controller.js"></script>
</body>
</html>